<!DOCTYPE html>
<html lang="en-us" dir="ltr" itemscope itemtype="http://schema.org/Article">
  {{ block "head" . }}
    {{ partial "head.html" . }}
  {{ end }}

  <body style="min-height:100vh;display:flex;flex-direction:column">

  {{ block "top" . }}
      {{ partial "navbar.html" . }}
  {{ end }}

    <section class="section" style="flex:1">

      <!-- Content -->
      <div class="container">
      
        <div style="min-height:56vh">
        
          
            <p class="title">Singular: {{ .Data.Singular }}</p>
            <p class="title">Kind: {{ .Kind }}</p>
          {{- if .Data.Singular }}
            <p class="title">{{ .Data.Singular | title }}: {{ .Title }}</p>
          {{- else }}
            <p class="title">{{ .Kind | title }}: {{ .Title }}</p>
          {{- end }}
          

          {{ block "pre-main" . }}
          {{ end }}
      
          {{ block "main" . }}
          {{ end }}
  
          {{ block "post-main" . }}
          {{ end }}

        </div>
      </div>

    </section>

    {{ block "bottom" . }}
    {{ end }}

    {{ block "footer" . }}
      {{ partial "footer.html" . }}
    {{ end }}
  </body>

</html>
