
{{ define "pre-main" }}   
  <div class="container">
    <!-- Content -->
    <div style="min-height:56vh">
      {{- if .Data.Singular }}
        <p class="title">{{ .Data.Singular | title }}: {{ .Title }}</p>
      {{- else }}
        <p class="title">{{ .Kind | title }}: {{ .Title }}</p>
      {{- end }}
{{ end }}

{{ define "main" }}   
      {{- range .Paginator.Pages }}
        {{ .Render "summary" }}
      {{- end }}
{{ end }}

{{ define "post-main" }}   
    </div>

    <br>
    <br>
    <br>

    <!-- Pagination -->
    <div class="container">
      {{ partial "pagination-list.html" . }}
    </div>
  </div>
{{ end }}
