



{{ $direction := partial "get-pagination-single-setup.html" . }}

{{ with $direction }}
  
  <div class="container">
  
    <div class="level">
  
      <div class="level-left">
        <div class="level-item">
          <p class="control has-addons">
            {{- with .prev }}
            <a class="button" href="{{ .Permalink }}">
              <span class="icon is-small"><i class="fa fa-chevron-left"></i></span>
              <span class="is-hidden-touch is-hidden-desktop-only">
                {{ .Title | truncate 100 "..." }}
              </span>
              <span class="is-hidden-touch is-hidden-widescreen">
                {{ .Title | truncate 75 "..." }}
              </span>
              <span class="is-hidden-mobile is-hidden-desktop">
                {{ .Title | truncate 50 "..." }}
              </span>
              <span class="is-hidden-tablet">
                {{ .Title | truncate 40 "..." }}
              </span>
            </a>
            {{- end }}
          </p>
        </div>
      </div>
  
      <div class="level-right">
        <div class="level-item">
          <p class="control has-addons">
            {{- with .next }}
            <a class="button" href="{{ .Permalink }}">
              <span class="is-hidden-touch is-hidden-desktop-only">
                {{ .Title | truncate 100 "..." }}
              </span>
              <span class="is-hidden-touch is-hidden-widescreen">
                {{ .Title | truncate 75 "..." }}
              </span>
              <span class="is-hidden-mobile is-hidden-desktop">
                {{ .Title | truncate 50 "..." }}
              </span>
              <span class="is-hidden-tablet">
                {{ .Title | truncate 40 "..." }}
              </span>
              <span class="icon is-small"><i class="fa fa-chevron-right"></i></span>
            </a>
            {{- end }}
          </p>
        </div>
      </div>
  
    </div>
  </div>
  
{{ end }}